{% extends "main/wrapper.html" %}
{% block content %}

<table class="table table-bordered">
    <thead class="bg-dark">
    <tr>
      <th style="text-align: center; color:white;">id</th>
      <th style="text-align: center; color:white;">Name</th>
      <th style="text-align: center; color:white;">Date of start</th>
      <th style="text-align: center; color:white;">Ending date</th>
      <th style="text-align: center; color:white;">Leader</th>
      <th style="text-align: center; color:white;">Executors</th>
      <th style="text-align: center; color:white;">Current step</th>
    </tr>
  </thead>
  <tbody>
  {% for project in x %}
      <tr>
      <th style="text-align: center">{{ project.id }}</th>
      <td style="text-align: center">{{ project.name }}</td>
      <td style="text-align: center">{{ project.start }}</td>
      <td style="text-align: center">{{ project.end }}</td>
      <td style="text-align: center">
          {% for person in y %}
              {% for pr in person.project %}
              {% if pr == project.name %}
              {% if person.role == "Leader" %}
          <a href="persons/{{ pr }}" title="Learn more about {{ person.name }} {{ person.surname }}"> {{ person.name }} {{ person.surname }} </a>
              {% endif %}
              {% endif %}
              {% endfor %}
              {% endfor %}
      </td>
      <td style="text-align: center">
           <div class="list-group">
          {% for person in y %}
              {% for pr in person.project %}
              {% if pr == project.name %}
                  {% if person.role != "Leader" %}
                <a href="persons/{{ pr }}" class="list-group-item" title="Learn more about {{ person.name }} {{ person.surname }}"> {{ person.name }} {{ person.surname }} </a>
              {% endif %}
              {% endif %}
              {% endfor %}
          {% endfor %}
      </div>
      </td>
      {% for step in z %}
          {% if step.project == project.name %}
          {% if step.status == "Active" %}
      <td style="text-align: center"> <a href="steps/{{ step.project }}"> {{ step.num }} </a> </td>
          {% endif %}
              {% endif %}
          {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}