<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Добавление</title>
    {% load staticfiles %}
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body style="background: #F6F6F6">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" style="color: white" href="/">PROJECT.COM</a>
        <a class="btn btn-dark" href="/login" role="button">Login</a>
        <a class="btn btn-dark" href="persons" role="button">Participants</a>
        <a class="btn btn-dark" href="steps" role="button">Steps</a>
</nav>
{% if access == "admin" %}
<div style ="margin-top: 4%; margin-left: 6%" class="row">

        <form action="addperson" style="" method="post"> {% csrf_token %}
  <div class="form-group">
      <h1>Add person to project</h1>
      <input type="hidden" class="form-control" value="{{ access }}" name="who">
      <label for="Project"><b>Project name in which person is involved</b></label>
    <input type="text" class="form-control" id="Project" name="projectname" placeholder="Kino">
      <label for="Name"><b>Person's name</b></label>
    <input type="text" class="form-control" id="Name" name="pname" placeholder="Alexey">
      <label for="Surname"><b>Person's surname</b></label>
    <input type="text" class="form-control" id="Surname" name="surname" placeholder="Rybin">
      <label for="Fath"><b>Person's middlename</b></label>
    <input type="text" class="form-control" id="Fath" name="middlename" placeholder="Viktorovich">
      <label for="Dob"><b>Persons's date of birth</b></label>
    <input type="text" class="form-control" id="Dob" name="dob" placeholder="21.12.1960">
      <label for="Role"><b>Person's role in project</b></label>
    <input type="text" class="form-control" id="Role" name="role" placeholder="Executor">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

        <form style="margin-left: 2%; width: 20%" action="addadmin" method="post"> {% csrf_token %}
  <div class="form-group" >
      <h1>Add administrator or manager</h1>
      <label for="login"><b>Login</b></label>
    <input type="text" class="form-control" id="login" name="login" placeholder="admin">
      <label for="pass"><b>Password</b></label>
    <input type="password" class="form-control" id="pass" name="password" placeholder="password">
      <label for="acc"><b>Access level</b></label>
    <input type="text" class="form-control" id="acc" name="acclevel" placeholder="admin/manager">
      <label for="Project"><b>Managed project</b></label>
    <input type="text" class="form-control" id="Project" name="project" placeholder="Pumba">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

        <form style="margin-left: 2%" action="addstep" method="post"> {% csrf_token %}
  <div class="form-group" >
      <h1>Add step to project</h1>
      <input type="hidden" class="form-control" value="{{ access }}"  name="who">
      <label for="Project"><b>Project</b></label>
    <input type="text" class="form-control" id="Project" name="projectname" placeholder="Kino">
      <label for="ID"><b>Step ID</b></label>
    <input type="text" class="form-control" id="ID" name="ID" placeholder="4">
      <label for="Num"><b>Step number</b></label>
    <input type="text" class="form-control" id="Num" name="num" placeholder="4">
      <label for="Name"><b>Name</b></label>
    <input type="text" class="form-control" id="Name" name="pname" placeholder="Legacy">
      <label for="Desc"><b>Description</b></label>
    <input type="text" class="form-control" id="Desc" name="desc" placeholder="Description">
      <label for="Dos"><b>Date of start</b></label>
    <input type="text" class="form-control" id="Dos" name="dos" placeholder="16.08.1990">
      <label for="Doe"><b>Ending date</b></label>
    <input type="text" class="form-control" id="Doe" name="doe" placeholder="Forever">
      <label for="Dos"><b>Status</b></label>
    <input type="text" class="form-control" id="Status" name="status" placeholder="Done/Active/Not Ready">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    <form style="margin-left: 2%" action="addproject" method="post"> {% csrf_token %}
  <div class="form-group" >
      <h1>Add project</h1>
      <label for="id"><b>ID</b></label>
    <input type="text" class="form-control" id="id" name="ID" placeholder="3">
      <label for="Name"><b>Project name</b></label>
    <input type="text" class="form-control" id="Name" name="name" placeholder="Pumba">
      <label for="Dos"><b>Date of start</b></label>
    <input type="text" class="form-control" id="Dos" name="dos" placeholder="12.11.2018">
      <label for="Doe"><b>Ending date</b></label>
    <input type="text" class="form-control" id="Doe" name="doe" placeholder="12.11.2019">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    <form style="margin-left: 2%" action="editstep" method="post"> {% csrf_token %}
  <div class="form-group" >
      <h1>Edit step</h1>
      <input type="hidden" class="form-control" value="{{ access }}"  name="who">
      <label for="id"><b>Step ID</b></label>
    <input type="text" class="form-control" id="id" name="ID" placeholder="3">
      <label for="id"><b>New Status</b></label>
    <input type="text" class="form-control" id="id" name="status" placeholder="Done/Active/Not Ready">

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </div>
{% endif %}

{% if access == "manager" %}
    <div style ="margin-top: 4%; margin-left: 16%" class="row">

    <form action="addperson" style="" method="post"> {% csrf_token %}
  <div class="form-group">
      <h1>Add person to project</h1>
      <input type="hidden" class="form-control" value="{{ access }}" name="who">
    <input type="hidden" class="form-control" value="{{ project }}" name="projectname">
      <label for="Name"><b>Person's name</b></label>
    <input type="text" class="form-control" id="Name" name="pname" placeholder="Alexey">
      <label for="Surname"><b>Person's surname</b></label>
    <input type="text" class="form-control" id="Surname" name="surname" placeholder="Rybin">
      <label for="Fath"><b>Person's middlename</b></label>
    <input type="text" class="form-control" id="Fath" name="middlename" placeholder="Viktorovich">
      <label for="Dob"><b>Persons's date of birth</b></label>
    <input type="text" class="form-control" id="Dob" name="dob" placeholder="21.12.1960">
      <label for="Role"><b>Person's role in project</b></label>
    <input type="text" class="form-control" id="Role" name="role" placeholder="Executor">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    <form style="margin-left: 10%" action="addstep" method="post"> {% csrf_token %}
  <div class="form-group" >
      <h1>Add step to project</h1>
    <input type="hidden" class="form-control" value="{{ access }}" name="who">
      <input type="hidden" class="form-control" id="Project" value="{{ project }}" name="projectname">
      <label for="ID"><b>Step ID</b></label>
    <input type="text" class="form-control" id="ID" name="ID" placeholder="4">
      <label for="Num"><b>Step number</b></label>
    <input type="text" class="form-control" id="Num" name="num" placeholder="4">
      <label for="Name"><b>Name</b></label>
    <input type="text" class="form-control" id="Name" name="pname" placeholder="Legacy">
      <label for="Desc"><b>Description</b></label>
    <input type="text" class="form-control" id="Desc" name="desc" placeholder="Description">
      <label for="Dos"><b>Date of start</b></label>
    <input type="text" class="form-control" id="Dos" name="dos" placeholder="16.08.1990">
      <label for="Doe"><b>Ending date</b></label>
    <input type="text" class="form-control" id="Doe" name="doe" placeholder="Forever">
      <label for="Dos"><b>Status</b></label>
    <input type="text" class="form-control" id="Status" name="status" placeholder="Done/Active/Not Ready">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    <form style="margin-left: 10%" action="editstep" method="post"> {% csrf_token %}
  <div class="form-group" >
      <h1>Edit step</h1>
      <input type="hidden" class="form-control" id="Project" value="{{ project }}" name="projectname">
      <input type="hidden" class="form-control" value="{{ access }}"  name="who">
      <label for="id"><b>Step ID</b></label>
    <input type="text" class="form-control" id="id" name="ID" placeholder="3">
      <label for="id"><b>New Status</b></label>
    <input type="text" class="form-control" id="id" name="status" placeholder="Done/Active/Not Ready">

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}
</body>
</html>